Repository jlevy/clam: changes, and which lefthook commands are due for each by the changed paths.
All: check, format-md, typecheck

lefthook.yml:

# lefthook.yml
# Git hooks for code quality
# Pre-commit: Fast checks with auto-fix (target: 2-5 seconds)
# Pre-push: Full test validation

pre-commit:
  parallel: true

  commands:
    # Biome check (lint + format) with auto-fix (~200ms)
    check:
      glob: '*.{js,ts,tsx,json}'
      run: bunx biome check --write {staged_files}
      stage_fixed: true
      priority: 1

    # Format markdown with flowmark (~500ms)
    # Excludes auto-generated files (.tbd/, .claude/skills/, AGENTS.md)
    format-md:
      glob: '*.md'
      exclude: '(\.tbd/|\.claude/skills/|AGENTS\.md)'
      run: uvx flowmark@latest --auto {staged_files}
      stage_fixed: true
      priority: 1

    # Type check with incremental mode (~2s)
    typecheck:
      glob: '*.{ts,tsx}'
      run: bun run typecheck
      priority: 2

pre-push:
  commands:
    # Build first
    build:
      run: bun run build
      priority: 1
    # Then run tests
    test:
      run: bun run test
      priority: 2

docs: Update documentation for Bun migration
  .changeset/README.md
  .gitignore
  README.md
  docs/development.md
  docs/publishing.md
Due: format-md

fix(test): Use plain text assertions for marked-terminal rendered blocks
  packages/clam/src/lib/markdown/block-renderer.test.ts
Due: check, typecheck

tbd: save outbox
  .tbd/workspaces/outbox/issues/is-01kgrnstvvsk0prbm48ch26kef.md
  .tbd/workspaces/outbox/issues/is-01kgrnt2yztnz08nmqrb0g8mjd.md
  .tbd/workspaces/outbox/issues/is-01kgrq5ztabezkz0qpsc6mqggk.md
  .tbd/workspaces/outbox/issues/is-01kgrq5zyq1kfc92sz0nngq3ar.md
  .tbd/workspaces/outbox/issues/is-01kgrq6035zjsgxw9kpgs3x0g5.md
  .tbd/workspaces/outbox/issues/is-01kgrsht04kmqtarebqm48gqxq.md
  .tbd/workspaces/outbox/mappings/ids.yml
Due: none

docs: Update Bun migration spec with completed status
  docs/project/specs/active/plan-2026-02-05-bun-ecosystem-migration-spike.md
Due: format-md

fix(test): Use platform-independent non-commands in mode-detection tests
  packages/clam/src/lib/mode-detection.test.ts
Due: check, typecheck

tbd: save outbox
  .tbd/workspaces/outbox/issues/is-01kgrnstvvsk0prbm48ch26kef.md
  .tbd/workspaces/outbox/issues/is-01kgrnt2yztnz08nmqrb0g8mjd.md
  .tbd/workspaces/outbox/issues/is-01kgrq5ztabezkz0qpsc6mqggk.md
  .tbd/workspaces/outbox/issues/is-01kgrq5zyq1kfc92sz0nngq3ar.md
  .tbd/workspaces/outbox/issues/is-01kgrq6035zjsgxw9kpgs3x0g5.md
  .tbd/workspaces/outbox/issues/is-01kgrsht04kmqtarebqm48gqxq.md
Due: none

tbd sync: 2026-02-06T06-24-39 (17 files)
  .tbd/data-sync/issues/is-01kgrmcgdf79ehvggrwb7276qt.md
  .tbd/data-sync/issues/is-01kgrmcq57vrehk1wdcxyhp7r8.md
  .tbd/data-sync/issues/is-01kgrmcqqw52b9ypr71zsv0vp5.md
  .tbd/data-sync/issues/is-01kgrmcrcwe5gm8fhdcedcfhd1.md
  .tbd/data-sync/issues/is-01kgrmcs7n6tjcxejxkz8dzfqz.md
  .tbd/data-sync/issues/is-01kgrmct5bcp8hy9ndpfh60ra5.md
  .tbd/data-sync/issues/is-01kgrmcty4cb4tnskppnzt0jam.md
  .tbd/data-sync/issues/is-01kgrmcvpgkwysd1nmmtcm0b1n.md
  .tbd/data-sync/issues/is-01kgrmcwfq34w0nhgwqxhfwayf.md
  .tbd/data-sync/issues/is-01kgrmcx7pwwkqkkahf774g8h3.md
  .tbd/data-sync/issues/is-01kgrnstvvsk0prbm48ch26kef.md
  .tbd/data-sync/issues/is-01kgrnt2yztnz08nmqrb0g8mjd.md
  .tbd/data-sync/issues/is-01kgrq5ztabezkz0qpsc6mqggk.md
  .tbd/data-sync/issues/is-01kgrq5zyq1kfc92sz0nngq3ar.md
  .tbd/data-sync/issues/is-01kgrq6035zjsgxw9kpgs3x0g5.md
  .tbd/data-sync/issues/is-01kgrsht04kmqtarebqm48gqxq.md
  .tbd/data-sync/mappings/ids.yml
Due: none

tbd sync
  .tbd/workspaces/outbox/issues/is-01kgrmcgdf79ehvggrwb7276qt.md
  .tbd/workspaces/outbox/issues/is-01kgrmcq57vrehk1wdcxyhp7r8.md
  .tbd/workspaces/outbox/issues/is-01kgrmcqqw52b9ypr71zsv0vp5.md
  .tbd/workspaces/outbox/issues/is-01kgrmcrcwe5gm8fhdcedcfhd1.md
  .tbd/workspaces/outbox/issues/is-01kgrmcs7n6tjcxejxkz8dzfqz.md
  .tbd/workspaces/outbox/issues/is-01kgrmct5bcp8hy9ndpfh60ra5.md
  .tbd/workspaces/outbox/issues/is-01kgrmcty4cb4tnskppnzt0jam.md
  .tbd/workspaces/outbox/issues/is-01kgrmcvpgkwysd1nmmtcm0b1n.md
  .tbd/workspaces/outbox/issues/is-01kgrmcwfq34w0nhgwqxhfwayf.md
  .tbd/workspaces/outbox/issues/is-01kgrmcx7pwwkqkkahf774g8h3.md
  .tbd/workspaces/outbox/issues/is-01kgrnstvvsk0prbm48ch26kef.md
  .tbd/workspaces/outbox/issues/is-01kgrnt2yztnz08nmqrb0g8mjd.md
  .tbd/workspaces/outbox/issues/is-01kgrq5ztabezkz0qpsc6mqggk.md
  .tbd/workspaces/outbox/issues/is-01kgrq5zyq1kfc92sz0nngq3ar.md
  .tbd/workspaces/outbox/issues/is-01kgrq6035zjsgxw9kpgs3x0g5.md
  .tbd/workspaces/outbox/issues/is-01kgrsht04kmqtarebqm48gqxq.md
  .tbd/workspaces/outbox/mappings/ids.yml
Due: none

fix: Convert alias-expander.test.ts from vitest to bun:test
  packages/clam/src/lib/shell/alias-expander.test.ts
Due: check, typecheck

fix(test): Use reliably non-existent command names in mode-detection test
  packages/clam/src/lib/mode-detection.test.ts
Due: check, typecheck

fix(markdown): Preserve header prefixes and add proper block spacing
  packages/clam/src/lib/markdown/block-renderer.ts
Due: check, typecheck

feat(release): Auto-generate structured release notes from commits
  .github/workflows/release.yml
  docs/publishing.md
  scripts/generate-release-notes.sh
Due: format-md

docs(release): Use template-based release notes instead of auto-generation
  .github/workflows/release.yml
  docs/project/templates/release-notes.md
  docs/publishing.md
  scripts/generate-release-notes.sh
Due: format-md

tbd sync: 2026-02-06T21-15-53 (3 files)
  .tbd/data-sync/issues/is-01kgtcyzbp42ber2gfttem26z9.md
  .tbd/data-sync/issues/is-01kgtcz2k4pksr7gh9k3xf1hs5.md
  .tbd/data-sync/mappings/ids.yml
Due: none

tbd sync: 2026-02-06T21-16-00 (33 files)
  .tbd/data-sync/issues/is-01kgp4caqptry4nhpa70cazq4f.md
  .tbd/data-sync/issues/is-01kgpbbnhx2x9e14s4fbv24k6k.md
  .tbd/data-sync/issues/is-01kgpbc4dabwdzjewf6qbk8frw.md
  .tbd/data-sync/issues/is-01kgpbc8kvzh5tj8cb1848t6bs.md
  .tbd/data-sync/issues/is-01kgpbccdbzds5rwp8afrmyd89.md
  .tbd/data-sync/issues/is-01kgpbcfzj1nmj9bcrjm28ftev.md
  .tbd/data-sync/issues/is-01kgpbckn1z49b9zpxpc9tfatb.md
  .tbd/data-sync/issues/is-01kgpbcqfhsqexhv3h5fwm5f1b.md
  .tbd/data-sync/issues/is-01kgpbcv5m3emg67ps8f0hqvqc.md
  .tbd/data-sync/issues/is-01kgpbczc5rvpjj1vnvqtx7xab.md
  .tbd/data-sync/issues/is-01kgphvp7rpf7358bcwdrh42tw.md
  .tbd/data-sync/issues/is-01kgphw41f0f0j77dsexamagg6.md
  .tbd/data-sync/issues/is-01kgphwdh1nem8ed1bgq9ht0bw.md
  .tbd/data-sync/issues/is-01kgphwprf2m2dxnw49e8q7n5y.md
  .tbd/data-sync/issues/is-01kgphx0knc66aqzvqqffxwk8h.md
  .tbd/data-sync/issues/is-01kgphxb3091bkxye7k5kmmqe9.md
  .tbd/data-sync/issues/is-01kgphxp1a5x0w9b35mqnwc6pq.md
  .tbd/data-sync/issues/is-01kgphxztgcaz9xvar0adqvr1q.md
  .tbd/data-sync/issues/is-01kgphy92358c6xzbp054d7vjj.md
  .tbd/data-sync/issues/is-01kgphykbethbe4byh42jv3m9d.md
  .tbd/data-sync/issues/is-01kgpj5q06dg7pgmtjxv000agc.md
  .tbd/data-sync/issues/is-01kgpj643mwqd2e4rg6cqfp7nz.md
  .tbd/data-sync/issues/is-01kgpj64n896wkbe22209k9yfy.md
  .tbd/data-sync/issues/is-01kgpj656zj9k537ey74meen1c.md
  .tbd/data-sync/issues/is-01kgpj65qvehk0g5anjcahm7y5.md
  .tbd/data-sync/issues/is-01kgpj668e4fhj5xwk6qs17yt6.md
  .tbd/data-sync/issues/is-01kgpj66rkdmm38673xyxz294g.md
  .tbd/data-sync/issues/is-01kgpj6797ja5qq99pv4btme6n.md
  .tbd/data-sync/issues/is-01kgpj67ssdvxzp4x1wd9hgzf3.md
  .tbd/data-sync/issues/is-01kgpj68ag88gsjy0y8tf7reth.md
  .tbd/data-sync/issues/is-01kgprmrvq770esp4whb6j2k09.md
  .tbd/data-sync/issues/is-01kgprn1rrn35jc1c5617jrzqz.md
  .tbd/data-sync/issues/is-01kgprn9a0h1bt02ddq55q18jr.md
Due: none

tbd sync: 2026-02-06T21-23-02 (2 files)
  .tbd/data-sync/issues/is-01kgtdc5ss8bq16nvgyf86r1t3.md
  .tbd/data-sync/mappings/ids.yml
Due: none

refactor: Remove unused timestamp feature from CLI, config, and output
  README.md
  packages/clam/src/bin.ts
  packages/clam/src/index.ts
  packages/clam/src/lib/config.test.ts
  packages/clam/src/lib/config.ts
  packages/clam/src/lib/formatting.test.ts
  packages/clam/src/lib/formatting.ts
  packages/clam/src/lib/output.test.ts
  packages/clam/src/lib/output.ts
  packages/clam/tests/cli.tryscript.md
Due: check, format-md, typecheck

docs(spec): Add confirmation dialog fix spec with pluggable UI architecture
  .tbd/config.yml
  .tbd/workspaces/outbox/issues/is-01kgp4caqptry4nhpa70cazq4f.md
  .tbd/workspaces/outbox/issues/is-01kgpbbnhx2x9e14s4fbv24k6k.md
  .tbd/workspaces/outbox/issues/is-01kgpbc4dabwdzjewf6qbk8frw.md
  .tbd/workspaces/outbox/issues/is-01kgpbc8kvzh5tj8cb1848t6bs.md
  .tbd/workspaces/outbox/issues/is-01kgpbccdbzds5rwp8afrmyd89.md
  .tbd/workspaces/outbox/issues/is-01kgpbcfzj1nmj9bcrjm28ftev.md
  .tbd/workspaces/outbox/issues/is-01kgpbckn1z49b9zpxpc9tfatb.md
  .tbd/workspaces/outbox/issues/is-01kgpbcqfhsqexhv3h5fwm5f1b.md
  .tbd/workspaces/outbox/issues/is-01kgpbcv5m3emg67ps8f0hqvqc.md
  .tbd/workspaces/outbox/issues/is-01kgpbczc5rvpjj1vnvqtx7xab.md
  .tbd/workspaces/outbox/issues/is-01kgphvp7rpf7358bcwdrh42tw.md
  .tbd/workspaces/outbox/issues/is-01kgphw41f0f0j77dsexamagg6.md
  .tbd/workspaces/outbox/issues/is-01kgphwdh1nem8ed1bgq9ht0bw.md
  .tbd/workspaces/outbox/issues/is-01kgphwprf2m2dxnw49e8q7n5y.md
  .tbd/workspaces/outbox/issues/is-01kgphx0knc66aqzvqqffxwk8h.md
  .tbd/workspaces/outbox/issues/is-01kgphxb3091bkxye7k5kmmqe9.md
  .tbd/workspaces/outbox/issues/is-01kgphxp1a5x0w9b35mqnwc6pq.md
  .tbd/workspaces/outbox/issues/is-01kgphxztgcaz9xvar0adqvr1q.md
  .tbd/workspaces/outbox/issues/is-01kgphy92358c6xzbp054d7vjj.md
  .tbd/workspaces/outbox/issues/is-01kgphykbethbe4byh42jv3m9d.md
  .tbd/workspaces/outbox/issues/is-01kgpj5q06dg7pgmtjxv000agc.md
  .tbd/workspaces/outbox/issues/is-01kgpj643mwqd2e4rg6cqfp7nz.md
  .tbd/workspaces/outbox/issues/is-01kgpj64n896wkbe22209k9yfy.md
  .tbd/workspaces/outbox/issues/is-01kgpj656zj9k537ey74meen1c.md
  .tbd/workspaces/outbox/issues/is-01kgpj65qvehk0g5anjcahm7y5.md
  .tbd/workspaces/outbox/issues/is-01kgpj668e4fhj5xwk6qs17yt6.md
  .tbd/workspaces/outbox/issues/is-01kgpj66rkdmm38673xyxz294g.md
  .tbd/workspaces/outbox/issues/is-01kgpj6797ja5qq99pv4btme6n.md
  .tbd/workspaces/outbox/issues/is-01kgpj67ssdvxzp4x1wd9hgzf3.md
  .tbd/workspaces/outbox/issues/is-01kgpj68ag88gsjy0y8tf7reth.md
  .tbd/workspaces/outbox/issues/is-01kgprmrvq770esp4whb6j2k09.md
  .tbd/workspaces/outbox/issues/is-01kgprn1rrn35jc1c5617jrzqz.md
  .tbd/workspaces/outbox/issues/is-01kgprn9a0h1bt02ddq55q18jr.md
  docs/project/specs/active/plan-2026-02-06-confirmation-dialog-fix.md
Due: format-md

tbd sync: 2026-02-07T07-07-42 (13 files)
  .tbd/data-sync/issues/is-01kgvegm7jrkmk7bafbwa2pdnp.md
  .tbd/data-sync/issues/is-01kgvegw2sqy65c7eqvjb4tadm.md
  .tbd/data-sync/issues/is-01kgvegwb4e9k57dx8by3e0mvd.md
  .tbd/data-sync/issues/is-01kgvegwk29rwxbqnym0pv18qc.md
  .tbd/data-sync/issues/is-01kgvegwtycrm20ne2ja5v4xtd.md
  .tbd/data-sync/issues/is-01kgvegx3945sf8ng5jjc7g5t8.md
  .tbd/data-sync/issues/is-01kgvegxb8b0jf7s3cv6rfebca.md
  .tbd/data-sync/issues/is-01kgvegxjyn5pwad605znz0xwe.md
  .tbd/data-sync/issues/is-01kgveh4y20mkday0ywq1vv4cd.md
  .tbd/data-sync/issues/is-01kgveh55r4m49yxdzmq7zxtjx.md
  .tbd/data-sync/issues/is-01kgveh5dpbayqffsbsdwz6sdk.md
  .tbd/data-sync/issues/is-01kgveh5ngpa6z5w3wd3ae7vcq.md
  .tbd/data-sync/mappings/ids.yml
Due: none

docs(research): Add async terminal UI research with fact-checked corrections
  docs/project/research/active/research-2026-02-06-async-terminal-ui-concurrent-tools.md
Due: format-md

docs(spec): Add Kerm-first terminal UI architecture spec
  docs/project/research/active/research-2026-02-06-async-terminal-ui-concurrent-tools.md
  docs/project/specs/active/plan-2026-02-05-shell-polish-part-1.md
  docs/project/specs/active/plan-2026-02-06-confirmation-dialog-fix.md
  docs/project/specs/active/plan-2026-02-07-kerm-first-terminal-ui.md
Due: format-md

tbd: migrate 8 file(s) from incorrect location
  .tbd/data-sync/issues/is-01kgn36qgyj4c2msxgpwv3qr0y.md
  .tbd/data-sync/issues/is-01kgn36zyf9es0k21ws00wgphy.md
  .tbd/data-sync/issues/is-01kgn3706deecr3ry3n2gqzfxh.md
  .tbd/data-sync/issues/is-01kgn370dya3yjbpqq7rwqbbx2.md
  .tbd/data-sync/issues/is-01kgn370n9pgb9zcx20pqqj4ky.md
  .tbd/data-sync/issues/is-01kgn370wxrp2c1qk5q1g3gadk.md
  .tbd/data-sync/issues/is-01kgn376k1c1y4jarr4kvc4yxa.md
  .tbd/data-sync/issues/is-01kgvp1288b4qa9wvqep5fg5m7.md
  .tbd/data-sync/issues/is-01kgvp15md8eh5c2hvr0xvyy3x.md
  .tbd/data-sync/issues/is-01kgvp1bqz1pmxsqn1m52w09t3.md
  .tbd/data-sync/issues/is-01kgvp1bzsy63jmeqt01bjpk1v.md
  .tbd/data-sync/issues/is-01kgvp1c7pgvxxce35x3qrcvec.md
  .tbd/data-sync/issues/is-01kgvp1cg4b4afmfbyqj9dakrw.md
  .tbd/data-sync/mappings/ids.yml
Due: none

feat(ui): Add selectMenu component for permission dialogs
  packages/clam/src/lib/ui/select-menu.test.ts
  packages/clam/src/lib/ui/select-menu.ts
Due: check, typecheck

refactor: Replace broken readline permission handling with selectMenu
  packages/clam/src/bin.ts
  packages/clam/src/lib/input.ts
  packages/clam/src/lib/ui/select-menu.ts
Due: check, typecheck

fix: Implement terminal capability for ACP bash command execution
  packages/clam/src/lib/acp.ts
Due: check, typecheck

docs: add research brief on coding agent GUI interfaces and UI components
  docs/project/research/research-2026-02-08-coding-agent-gui-interfaces.md
Due: format-md

docs: add deep-dive bead tracking to coding agent GUI research brief
  docs/project/research/research-2026-02-08-coding-agent-gui-interfaces.md
Due: format-md

tbd: save outbox with 20 deep-dive research beads
  .tbd/workspaces/outbox/issues/is-01kgxv4tt6f9vwsp53rqrr2e2s.md
  .tbd/workspaces/outbox/issues/is-01kgxv56sscfjfzy9v3zc8q7jj.md
  .tbd/workspaces/outbox/issues/is-01kgxv5764p068czye33edve4c.md
  .tbd/workspaces/outbox/issues/is-01kgxv57j8s2skpxw0qtehbdtb.md
  .tbd/workspaces/outbox/issues/is-01kgxv57y98c54f8nr0f8eqjrx.md
  .tbd/workspaces/outbox/issues/is-01kgxv58a1kqrv1sac0a0xqwjb.md
  .tbd/workspaces/outbox/issues/is-01kgxv58pcf27136hpxyr00zc5.md
  .tbd/workspaces/outbox/issues/is-01kgxv592tz8rp1pbw271zmr8g.md
  .tbd/workspaces/outbox/issues/is-01kgxv59ezkj8pgjbedjfzecxf.md
  .tbd/workspaces/outbox/issues/is-01kgxv5knryrdw9zakjdxa31ns.md
  .tbd/workspaces/outbox/issues/is-01kgxv5m2mp741e2zx0r32magq.md
  .tbd/workspaces/outbox/issues/is-01kgxv5mf7kks56k57wx9cexaf.md
  .tbd/workspaces/outbox/issues/is-01kgxv5mvbmn6jpwpcf0jjf5q3.md
  .tbd/workspaces/outbox/issues/is-01kgxv5n7528eeb2ajzq2vaz9a.md
  .tbd/workspaces/outbox/issues/is-01kgxv5nk9jsxwxr2wjb2kzwfc.md
  .tbd/workspaces/outbox/issues/is-01kgxv5p0jeya28tv2szr23q33.md
  .tbd/workspaces/outbox/issues/is-01kgxv5z7nf003q3r9hrxsceej.md
  .tbd/workspaces/outbox/issues/is-01kgxv5zmz14tr7q1npts6n1tk.md
  .tbd/workspaces/outbox/issues/is-01kgxv602ycqgf6sw5m1722svf.md
  .tbd/workspaces/outbox/issues/is-01kgxv60gj2dxph75nx6xrrdrf.md
  .tbd/workspaces/outbox/mappings/ids.yml
Due: none

Add technical deep-dives for all 19 coding agent GUI tools and component libraries
  docs/project/research/research-2026-02-08-coding-agent-gui-interfaces.md
Due: format-md

tbd: save outbox with 20 closed beads
  .tbd/workspaces/outbox/issues/is-01kgxv4tt6f9vwsp53rqrr2e2s.md
  .tbd/workspaces/outbox/issues/is-01kgxv56sscfjfzy9v3zc8q7jj.md
  .tbd/workspaces/outbox/issues/is-01kgxv5764p068czye33edve4c.md
  .tbd/workspaces/outbox/issues/is-01kgxv57j8s2skpxw0qtehbdtb.md
  .tbd/workspaces/outbox/issues/is-01kgxv57y98c54f8nr0f8eqjrx.md
  .tbd/workspaces/outbox/issues/is-01kgxv58a1kqrv1sac0a0xqwjb.md
  .tbd/workspaces/outbox/issues/is-01kgxv58pcf27136hpxyr00zc5.md
  .tbd/workspaces/outbox/issues/is-01kgxv592tz8rp1pbw271zmr8g.md
  .tbd/workspaces/outbox/issues/is-01kgxv59ezkj8pgjbedjfzecxf.md
  .tbd/workspaces/outbox/issues/is-01kgxv5knryrdw9zakjdxa31ns.md
  .tbd/workspaces/outbox/issues/is-01kgxv5m2mp741e2zx0r32magq.md
  .tbd/workspaces/outbox/issues/is-01kgxv5mf7kks56k57wx9cexaf.md
  .tbd/workspaces/outbox/issues/is-01kgxv5mvbmn6jpwpcf0jjf5q3.md
  .tbd/workspaces/outbox/issues/is-01kgxv5n7528eeb2ajzq2vaz9a.md
  .tbd/workspaces/outbox/issues/is-01kgxv5nk9jsxwxr2wjb2kzwfc.md
  .tbd/workspaces/outbox/issues/is-01kgxv5p0jeya28tv2szr23q33.md
  .tbd/workspaces/outbox/issues/is-01kgxv5z7nf003q3r9hrxsceej.md
  .tbd/workspaces/outbox/issues/is-01kgxv5zmz14tr7q1npts6n1tk.md
  .tbd/workspaces/outbox/issues/is-01kgxv602ycqgf6sw5m1722svf.md
  .tbd/workspaces/outbox/issues/is-01kgxv60gj2dxph75nx6xrrdrf.md
Due: none

tbd sync: 2026-02-08T07-16-38 (21 files)
  .tbd/data-sync/issues/is-01kgxv4tt6f9vwsp53rqrr2e2s.md
  .tbd/data-sync/issues/is-01kgxv56sscfjfzy9v3zc8q7jj.md
  .tbd/data-sync/issues/is-01kgxv5764p068czye33edve4c.md
  .tbd/data-sync/issues/is-01kgxv57j8s2skpxw0qtehbdtb.md
  .tbd/data-sync/issues/is-01kgxv57y98c54f8nr0f8eqjrx.md
  .tbd/data-sync/issues/is-01kgxv58a1kqrv1sac0a0xqwjb.md
  .tbd/data-sync/issues/is-01kgxv58pcf27136hpxyr00zc5.md
  .tbd/data-sync/issues/is-01kgxv592tz8rp1pbw271zmr8g.md
  .tbd/data-sync/issues/is-01kgxv59ezkj8pgjbedjfzecxf.md
  .tbd/data-sync/issues/is-01kgxv5knryrdw9zakjdxa31ns.md
  .tbd/data-sync/issues/is-01kgxv5m2mp741e2zx0r32magq.md
  .tbd/data-sync/issues/is-01kgxv5mf7kks56k57wx9cexaf.md
  .tbd/data-sync/issues/is-01kgxv5mvbmn6jpwpcf0jjf5q3.md
  .tbd/data-sync/issues/is-01kgxv5n7528eeb2ajzq2vaz9a.md
  .tbd/data-sync/issues/is-01kgxv5nk9jsxwxr2wjb2kzwfc.md
  .tbd/data-sync/issues/is-01kgxv5p0jeya28tv2szr23q33.md
  .tbd/data-sync/issues/is-01kgxv5z7nf003q3r9hrxsceej.md
  .tbd/data-sync/issues/is-01kgxv5zmz14tr7q1npts6n1tk.md
  .tbd/data-sync/issues/is-01kgxv602ycqgf6sw5m1722svf.md
  .tbd/data-sync/issues/is-01kgxv60gj2dxph75nx6xrrdrf.md
  .tbd/data-sync/mappings/ids.yml
Due: none

tbd sync
  .tbd/workspaces/outbox/issues/is-01kgxv4tt6f9vwsp53rqrr2e2s.md
  .tbd/workspaces/outbox/issues/is-01kgxv56sscfjfzy9v3zc8q7jj.md
  .tbd/workspaces/outbox/issues/is-01kgxv5764p068czye33edve4c.md
  .tbd/workspaces/outbox/issues/is-01kgxv57j8s2skpxw0qtehbdtb.md
  .tbd/workspaces/outbox/issues/is-01kgxv57y98c54f8nr0f8eqjrx.md
  .tbd/workspaces/outbox/issues/is-01kgxv58a1kqrv1sac0a0xqwjb.md
  .tbd/workspaces/outbox/issues/is-01kgxv58pcf27136hpxyr00zc5.md
  .tbd/workspaces/outbox/issues/is-01kgxv592tz8rp1pbw271zmr8g.md
  .tbd/workspaces/outbox/issues/is-01kgxv59ezkj8pgjbedjfzecxf.md
  .tbd/workspaces/outbox/issues/is-01kgxv5knryrdw9zakjdxa31ns.md
  .tbd/workspaces/outbox/issues/is-01kgxv5m2mp741e2zx0r32magq.md
  .tbd/workspaces/outbox/issues/is-01kgxv5mf7kks56k57wx9cexaf.md
  .tbd/workspaces/outbox/issues/is-01kgxv5mvbmn6jpwpcf0jjf5q3.md
  .tbd/workspaces/outbox/issues/is-01kgxv5n7528eeb2ajzq2vaz9a.md
  .tbd/workspaces/outbox/issues/is-01kgxv5nk9jsxwxr2wjb2kzwfc.md
  .tbd/workspaces/outbox/issues/is-01kgxv5p0jeya28tv2szr23q33.md
  .tbd/workspaces/outbox/issues/is-01kgxv5z7nf003q3r9hrxsceej.md
  .tbd/workspaces/outbox/issues/is-01kgxv5zmz14tr7q1npts6n1tk.md
  .tbd/workspaces/outbox/issues/is-01kgxv602ycqgf6sw5m1722svf.md
  .tbd/workspaces/outbox/issues/is-01kgxv60gj2dxph75nx6xrrdrf.md
  .tbd/workspaces/outbox/mappings/ids.yml
Due: none

tbd sync: 2026-02-11T00-18-18 (5 files)
  .tbd/data-sync/issues/is-01kgy20bkp12887779g0g8j421.md
  .tbd/data-sync/issues/is-01kgy20bvqj3tky8esr95hrpht.md
  .tbd/data-sync/issues/is-01kgy20c337gny117b46p03mxg.md
  .tbd/data-sync/issues/is-01kgy20gf7810vet3x4yaem0wj.md
  .tbd/data-sync/mappings/ids.yml
Due: none

fix: Remove old permission menu from permissionPrompt
  packages/clam/src/lib/output.test.ts
  packages/clam/src/lib/output.ts
Due: check, typecheck

tbd: migrate 8 file(s) from incorrect location
  .tbd/data-sync/mappings/ids.yml
Due: none

fix: Prevent readline interference during selectMenu
  packages/clam/src/lib/ui/select-menu.ts
Due: check, typecheck

tbd sync: 2026-02-11T00-41-25 (7 files)
  .tbd/data-sync/issues/is-01kh51epev2j2bfcsrr9pagzsa.md
  .tbd/data-sync/issues/is-01kh51ey59hawnzjmbz2wjtt32.md
  .tbd/data-sync/issues/is-01kh51eyetn15byew3qg3xken8.md
  .tbd/data-sync/issues/is-01kh51eyrnsmdss53xqz0xk6hs.md
  .tbd/data-sync/issues/is-01kh51ez20216qchc2c1s33nne.md
  .tbd/data-sync/issues/is-01kh527ndt21fk96qm56v18ccr.md
  .tbd/data-sync/mappings/ids.yml
Due: none

tbd sync: 2026-02-11T00-50-50 (2 files)
  .tbd/data-sync/issues/is-01kh52v6j5qa52zaezxnvdfa9s.md
  .tbd/data-sync/mappings/ids.yml
Due: none

Upgrade CI actions, dev tools, and add stricter Biome lint rules
  .github/workflows/ci.yml
  .github/workflows/release.yml
  biome.json
  bun.lock
  package.json
Due: check

chore: Update tbd config
  .tbd/config.yml
Due: none
