Repository jlevy/clam: changes, and which lefthook commands are due for each by the changed paths.
All: check, format-md, typecheck

lefthook.yml:

# lefthook.yml
# Git hooks for code quality
# Pre-commit: Fast checks with auto-fix (target: 2-5 seconds)
# Pre-push: Full test validation

pre-commit:
  parallel: true

  commands:
    # Biome check (lint + format) with auto-fix (~200ms)
    check:
      glob: '*.{js,ts,tsx,json}'
      run: bunx biome check --write {staged_files}
      stage_fixed: true
      priority: 1

    # Format markdown with flowmark (~500ms)
    # Excludes auto-generated files (.tbd/, .claude/skills/, AGENTS.md)
    format-md:
      glob: '*.md'
      exclude: '(\.tbd/|\.claude/skills/|AGENTS\.md)'
      run: uvx flowmark@latest --auto {staged_files}
      stage_fixed: true
      priority: 1

    # Type check with incremental mode (~2s)
    typecheck:
      glob: '*.{ts,tsx}'
      run: bun run typecheck
      priority: 2

pre-push:
  commands:
    # Build first
    build:
      run: bun run build
      priority: 1
    # Then run tests
    test:
      run: bun run test
      priority: 2

feat(completion): Add error handling and timeout to CompletionManager
  packages/clam/src/lib/completion/manager.test.ts
  packages/clam/src/lib/completion/manager.ts
Due: check, typecheck

tbd sync: 2026-02-05T08-47-01 (4 files)
  .tbd/data-sync/issues/is-01kgp9t459v98abgz0kq3sf41y.md
  .tbd/data-sync/issues/is-01kgp9t4mddh9e860qkmcnrpra.md
  .tbd/data-sync/issues/is-01kgp9t9fm0nzmxch4dvv63554.md
  .tbd/data-sync/issues/is-01kgp9t9s4sn7rqpyryprp40bz.md
Due: none

feat(completion): Wire completion system into InputReader
  packages/clam/src/lib/completion/integration.test.ts
  packages/clam/src/lib/completion/integration.ts
  packages/clam/src/lib/input.ts
Due: check, typecheck

fix(completion): Only trigger completions on Tab press, not every keystroke
  packages/clam/src/lib/input.ts
Due: check, typecheck

tbd sync: 2026-02-05T09-15-36 (1 file)
  .tbd/data-sync/issues/is-01kgp98dxsk5b8fp836qjtga28.md
Due: none

chore: Update GitHub Actions workflows for Bun
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

docs: Update Bun migration spec with learnings and benchmarks
  docs/project/specs/active/plan-2026-02-05-bun-ecosystem-migration-spike.md
Due: format-md

tbd sync: 2026-02-05T09-41-52 (6 files)
  .tbd/data-sync/issues/is-01kgpj421z0h54dvn6br07hjrz.md
  .tbd/data-sync/issues/is-01kgpjqvnyjngmg5zkp5k0j7km.md
  .tbd/data-sync/issues/is-01kgpjqvy9azry12v5yey0a1da.md
  .tbd/data-sync/issues/is-01kgpjqw6hgaeawhrd1wmjnkr6.md
  .tbd/data-sync/issues/is-01kgpjr0hd7d3ec8bxexmakz69.md
  .tbd/data-sync/mappings/ids.yml
Due: none

feat: Add aquatic-themed spinner with three modes
  packages/clam/src/lib/output.ts
  packages/clam/src/lib/spinner.test.ts
  packages/clam/src/lib/spinner.ts
Due: check, typecheck

tbd: save outbox for spinner implementation
  .tbd/workspaces/outbox/issues/is-01kgp97yh8ba9qbs7bxve5ry0p.md
  .tbd/workspaces/outbox/issues/is-01kgp98dxsk5b8fp836qjtga28.md
  .tbd/workspaces/outbox/issues/is-01kgp98e7egmy10svc466ka6dt.md
  .tbd/workspaces/outbox/issues/is-01kgp98eg6j2nm04q3fjz0dnys.md
  .tbd/workspaces/outbox/issues/is-01kgp98esksgehtq52ewj8yp12.md
  .tbd/workspaces/outbox/issues/is-01kgp98f1ceqed0w4bejb8w43z.md
  .tbd/workspaces/outbox/issues/is-01kgp98f8zzf59bc9pgm8385yq.md
  .tbd/workspaces/outbox/issues/is-01kgp98fgwq6g5hdj9he7gaqn5.md
  .tbd/workspaces/outbox/issues/is-01kgp98fsjjb1977eqc1gw6fxb.md
  .tbd/workspaces/outbox/mappings/ids.yml
Due: none

feat(markdown): Add streaming markdown rendering for terminal output
  packages/clam/src/lib/config.ts
  packages/clam/src/lib/markdown/block-detector.test.ts
  packages/clam/src/lib/markdown/block-detector.ts
  packages/clam/src/lib/markdown/block-renderer.test.ts
  packages/clam/src/lib/markdown/block-renderer.ts
  packages/clam/src/lib/markdown/index.ts
  packages/clam/src/lib/markdown/inline-formatter.test.ts
  packages/clam/src/lib/markdown/inline-formatter.ts
  packages/clam/src/lib/markdown/types.ts
  packages/clam/src/lib/output.ts
Due: check, typecheck

fix(completion): Improve cursor management and add command descriptions
  docs/project/specs/active/plan-2026-02-05-better-shell-completions.md
  packages/clam/src/lib/completion/completers/command-completer.ts
  packages/clam/src/lib/completion/integration.test.ts
  packages/clam/src/lib/completion/integration.ts
  packages/clam/src/lib/completion/menu.ts
  packages/clam/src/lib/completion/recommended-commands.ts
  packages/clam/src/lib/input.ts
Due: check, format-md, typecheck

tbd sync: 2026-02-05T10-13-01 (11 files)
  .tbd/data-sync/issues/is-01kgpj421z0h54dvn6br07hjrz.md
  .tbd/data-sync/issues/is-01kgpk9sj7s9a1ywq670yajdqq.md
  .tbd/data-sync/issues/is-01kgpk9t7aedhgr3ty1wg1tzpt.md
  .tbd/data-sync/issues/is-01kgpk9tymz516p5zsxxre4c16.md
  .tbd/data-sync/issues/is-01kgpm4v2fkf09snym8xg8mp2q.md
  .tbd/data-sync/issues/is-01kgpm4yxsdpzf1t7sxmaggqrm.md
  .tbd/data-sync/issues/is-01kgpm529ckegvymxbwmcbyshw.md
  .tbd/data-sync/issues/is-01kgpm9h7057gz32w4frckhx8v.md
  .tbd/data-sync/issues/is-01kgpm9p2bevpa066d76ps3mca.md
  .tbd/data-sync/issues/is-01kgpmgn1hsjc0byr2nbpvf0zw.md
  .tbd/data-sync/mappings/ids.yml
Due: none

fix(completion): Fix completion system bugs for @ trigger, cursor insertion, and history
  packages/clam/src/lib/completion/trigger.test.ts
  packages/clam/src/lib/completion/trigger.ts
  packages/clam/src/lib/input.ts
Due: check, typecheck

docs: Add shell polish spec for remaining completion system bugs
  docs/project/specs/active/plan-2026-02-05-shell-polish.md
Due: format-md

tbd sync: 2026-02-05T10-40-15 (5 files)
  .tbd/data-sync/issues/is-01kgpj421z0h54dvn6br07hjrz.md
  .tbd/data-sync/issues/is-01kgpm529ckegvymxbwmcbyshw.md
  .tbd/data-sync/issues/is-01kgpm9h7057gz32w4frckhx8v.md
  .tbd/data-sync/issues/is-01kgpm9p2bevpa066d76ps3mca.md
  .tbd/data-sync/issues/is-01kgpmgn1hsjc0byr2nbpvf0zw.md
Due: none

chore: Post-merge fixes for Bun ecosystem
  biome.json
  packages/clam/src/lib/completion/completers/command-completer.test.ts
  packages/clam/src/lib/completion/completers/command-completer.ts
  packages/clam/src/lib/completion/completers/entity-completer.test.ts
  packages/clam/src/lib/completion/completers/entity-completer.ts
  packages/clam/src/lib/completion/completers/slash-completer.test.ts
  packages/clam/src/lib/completion/completers/slash-completer.ts
  packages/clam/src/lib/completion/history.test.ts
  packages/clam/src/lib/completion/history.ts
  packages/clam/src/lib/completion/integration.test.ts
  packages/clam/src/lib/completion/integration.ts
  packages/clam/src/lib/completion/key-handler.test.ts
  packages/clam/src/lib/completion/terminal.test.ts
  packages/clam/src/lib/completion/trigger.test.ts
  packages/clam/src/lib/input.ts
  packages/clam/src/lib/shell/color-commands.test.ts
  packages/clam/src/lib/shell/color-env.test.ts
  packages/clam/src/lib/shell/index.ts
Due: check, typecheck

fix(shell): Fix interactive command handling with TTY management
  packages/clam/src/bin.ts
  packages/clam/src/lib/shell.ts
  packages/clam/src/lib/tty/index.ts
  packages/clam/src/lib/tty/tty-manager.test.ts
  packages/clam/src/lib/tty/tty-manager.ts
Due: check, typecheck

chore(tbd): Save outbox with new beads
  .tbd/workspaces/outbox/issues/is-01kgpjqvnyjngmg5zkp5k0j7km.md
  .tbd/workspaces/outbox/issues/is-01kgppyfzfpf23gye587zfm7y0.md
  .tbd/workspaces/outbox/issues/is-01kgppymbaefjwayhke3cfw0an.md
  .tbd/workspaces/outbox/mappings/ids.yml
Due: none

feat(markdown): Add syntax highlighting and integration tests
  docs/project/specs/active/plan-2026-02-04-streaming-markdown-rendering.md
  packages/clam/package.json
  packages/clam/src/lib/markdown/block-renderer.ts
  packages/clam/src/lib/markdown/code-highlighter.test.ts
  packages/clam/src/lib/markdown/code-highlighter.ts
  packages/clam/src/lib/markdown/index.ts
  packages/clam/src/lib/markdown/integration.test.ts
  pnpm-lock.yaml
Due: check, format-md, typecheck

fix(shell): Slash commands vs paths and working directory tracking
  packages/clam/src/lib/input.ts
  packages/clam/src/lib/mode-detection.test.ts
  packages/clam/src/lib/shell.ts
Due: check, typecheck

feat(shell): Add modern tool detection and startup display
  packages/clam/src/bin.ts
  packages/clam/src/lib/shell/index.ts
  packages/clam/src/lib/shell/modern-tools.test.ts
  packages/clam/src/lib/shell/modern-tools.ts
Due: check, typecheck

chore: Add tbd workspaces/outbox to gitignore
  .tbd/.gitignore
Due: none

chore: Add tbd outbox issues for sync recovery
  .tbd/.gitignore
  .tbd/workspaces/outbox/issues/is-01kgp4caqptry4nhpa70cazq4f.md
  .tbd/workspaces/outbox/issues/is-01kgphvp7rpf7358bcwdrh42tw.md
  .tbd/workspaces/outbox/issues/is-01kgphw41f0f0j77dsexamagg6.md
  .tbd/workspaces/outbox/issues/is-01kgphwdh1nem8ed1bgq9ht0bw.md
  .tbd/workspaces/outbox/issues/is-01kgphwprf2m2dxnw49e8q7n5y.md
  .tbd/workspaces/outbox/issues/is-01kgphx0knc66aqzvqqffxwk8h.md
  .tbd/workspaces/outbox/issues/is-01kgphxb3091bkxye7k5kmmqe9.md
  .tbd/workspaces/outbox/issues/is-01kgphxp1a5x0w9b35mqnwc6pq.md
  .tbd/workspaces/outbox/issues/is-01kgphxztgcaz9xvar0adqvr1q.md
  .tbd/workspaces/outbox/issues/is-01kgphy92358c6xzbp054d7vjj.md
  .tbd/workspaces/outbox/issues/is-01kgphykbethbe4byh42jv3m9d.md
  .tbd/workspaces/outbox/issues/is-01kgpj5q06dg7pgmtjxv000agc.md
  .tbd/workspaces/outbox/issues/is-01kgpj643mwqd2e4rg6cqfp7nz.md
  .tbd/workspaces/outbox/issues/is-01kgpj64n896wkbe22209k9yfy.md
  .tbd/workspaces/outbox/issues/is-01kgpj656zj9k537ey74meen1c.md
  .tbd/workspaces/outbox/issues/is-01kgpj65qvehk0g5anjcahm7y5.md
  .tbd/workspaces/outbox/issues/is-01kgpj668e4fhj5xwk6qs17yt6.md
  .tbd/workspaces/outbox/issues/is-01kgpj66rkdmm38673xyxz294g.md
  .tbd/workspaces/outbox/issues/is-01kgpj6797ja5qq99pv4btme6n.md
  .tbd/workspaces/outbox/issues/is-01kgpj67ssdvxzp4x1wd9hgzf3.md
  .tbd/workspaces/outbox/issues/is-01kgpj68ag88gsjy0y8tf7reth.md
Due: none

fix: Fix prettier formatting and table test for CI
  packages/clam/src/lib/markdown/block-detector.ts
  packages/clam/src/lib/markdown/block-renderer.test.ts
Due: check, typecheck

tbd: Save workspace with Bun migration follow-up tasks
  .tbd/workspaces/outbox/issues/is-01kgp4caqptry4nhpa70cazq4f.md
  .tbd/workspaces/outbox/issues/is-01kgprmrvq770esp4whb6j2k09.md
  .tbd/workspaces/outbox/issues/is-01kgprn1rrn35jc1c5617jrzqz.md
  .tbd/workspaces/outbox/issues/is-01kgprn9a0h1bt02ddq55q18jr.md
  .tbd/workspaces/outbox/mappings/ids.yml
Due: none

tbd: update outbox after PR creation
  .tbd/workspaces/outbox/issues/is-01kgp97yh8ba9qbs7bxve5ry0p.md
  .tbd/workspaces/outbox/issues/is-01kgp98dxsk5b8fp836qjtga28.md
  .tbd/workspaces/outbox/issues/is-01kgp98e7egmy10svc466ka6dt.md
  .tbd/workspaces/outbox/issues/is-01kgp98eg6j2nm04q3fjz0dnys.md
  .tbd/workspaces/outbox/issues/is-01kgp98esksgehtq52ewj8yp12.md
  .tbd/workspaces/outbox/issues/is-01kgp98f1ceqed0w4bejb8w43z.md
  .tbd/workspaces/outbox/issues/is-01kgp98f8zzf59bc9pgm8385yq.md
  .tbd/workspaces/outbox/issues/is-01kgp98fgwq6g5hdj9he7gaqn5.md
  .tbd/workspaces/outbox/issues/is-01kgp98fsjjb1977eqc1gw6fxb.md
Due: none

feat(shell): Add command aliasing, zoxide integration, and shell conveniences
  packages/clam/src/bin.ts
  packages/clam/src/lib/input.ts
  packages/clam/src/lib/mode-detection.test.ts
  packages/clam/src/lib/shell.ts
  packages/clam/src/lib/shell/command-aliases.test.ts
  packages/clam/src/lib/shell/command-aliases.ts
  packages/clam/src/lib/shell/conveniences.test.ts
  packages/clam/src/lib/shell/conveniences.ts
  packages/clam/src/lib/shell/index.ts
  packages/clam/src/lib/shell/zoxide.test.ts
  packages/clam/src/lib/shell/zoxide.ts
Due: check, typecheck

chore(tbd): Save outbox with closed beads
  .tbd/workspaces/outbox/issues/is-01kgpjqvnyjngmg5zkp5k0j7km.md
  .tbd/workspaces/outbox/issues/is-01kgpjqvy9azry12v5yey0a1da.md
  .tbd/workspaces/outbox/issues/is-01kgpjqw6hgaeawhrd1wmjnkr6.md
  .tbd/workspaces/outbox/issues/is-01kgpjr0hd7d3ec8bxexmakz69.md
  .tbd/workspaces/outbox/issues/is-01kgpk9sj7s9a1ywq670yajdqq.md
  .tbd/workspaces/outbox/issues/is-01kgppyfzfpf23gye587zfm7y0.md
  .tbd/workspaces/outbox/issues/is-01kgppymbaefjwayhke3cfw0an.md
  .tbd/workspaces/outbox/mappings/ids.yml
Due: none

feat: Apply Bun monorepo best practices from guidelines
  .github/workflows/ci.yml
  biome.json
  lefthook.yml
  package.json
  packages/clam/package.json
  packages/clam/tsconfig.json
  tsconfig.base.json
Due: check

tbd: Update workspace with closed Bun migration beads
  .tbd/workspaces/outbox/issues/is-01kgprmrvq770esp4whb6j2k09.md
  .tbd/workspaces/outbox/issues/is-01kgprn9a0h1bt02ddq55q18jr.md
Due: none

fix(test): Use cross-platform temp directory in conveniences test
  packages/clam/src/lib/shell/conveniences.test.ts
Due: check, typecheck

fix(tty): Skip stty sane on Windows
  packages/clam/src/lib/tty/tty-manager.ts
Due: check, typecheck

style: Add spinner colors (bold blue icon, dim blue text)
  packages/clam/src/lib/formatting.ts
  packages/clam/src/lib/output.ts
  packages/clam/src/lib/spinner.ts
Due: check, typecheck

refactor(shell): Extract shared utilities to eliminate code duplication
  docs/project/specs/active/plan-2026-02-05-shell-polish.md
  packages/clam/src/lib/shell/index.ts
  packages/clam/src/lib/shell/modern-tools.ts
  packages/clam/src/lib/shell/utils.test.ts
  packages/clam/src/lib/shell/utils.ts
  packages/clam/src/lib/shell/zoxide.test.ts
  packages/clam/src/lib/shell/zoxide.ts
Due: check, format-md, typecheck

tbd sync: 2026-02-06T01-56-13 (4 files)
  .tbd/data-sync/issues/is-01kgra61v7wjhyxmc339vf1am1.md
  .tbd/data-sync/issues/is-01kgra666by878re7n4xec9nqp.md
  .tbd/data-sync/issues/is-01kgra66dy06zz3dq247g1xe21.md
  .tbd/data-sync/mappings/ids.yml
Due: none
