Repository jlevy/clam: changes, and which lefthook commands are due for each by the changed paths.
All: check, format-md, typecheck

lefthook.yml:

# lefthook.yml
# Git hooks for code quality
# Pre-commit: Fast checks with auto-fix (target: 2-5 seconds)
# Pre-push: Full test validation

pre-commit:
  parallel: true

  commands:
    # Biome check (lint + format) with auto-fix (~200ms)
    check:
      glob: '*.{js,ts,tsx,json}'
      run: bunx biome check --write {staged_files}
      stage_fixed: true
      priority: 1

    # Format markdown with flowmark (~500ms)
    # Excludes auto-generated files (.tbd/, .claude/skills/, AGENTS.md)
    format-md:
      glob: '*.md'
      exclude: '(\.tbd/|\.claude/skills/|AGENTS\.md)'
      run: uvx flowmark@latest --auto {staged_files}
      stage_fixed: true
      priority: 1

    # Type check with incremental mode (~2s)
    typecheck:
      glob: '*.{ts,tsx}'
      run: bun run typecheck
      priority: 2

pre-push:
  commands:
    # Build first
    build:
      run: bun run build
      priority: 1
    # Then run tests
    test:
      run: bun run test
      priority: 2

tbd sync: 2026-02-06T01-56-17 (8 files)
  .tbd/data-sync/issues/is-01kgpjqvnyjngmg5zkp5k0j7km.md
  .tbd/data-sync/issues/is-01kgpjqvy9azry12v5yey0a1da.md
  .tbd/data-sync/issues/is-01kgpjqw6hgaeawhrd1wmjnkr6.md
  .tbd/data-sync/issues/is-01kgpjr0hd7d3ec8bxexmakz69.md
  .tbd/data-sync/issues/is-01kgpk9sj7s9a1ywq670yajdqq.md
  .tbd/data-sync/issues/is-01kgppyfzfpf23gye587zfm7y0.md
  .tbd/data-sync/issues/is-01kgppymbaefjwayhke3cfw0an.md
  .tbd/data-sync/mappings/ids.yml
Due: none

feat(shell): Inject working directory context into Claude prompts
  docs/project/specs/active/plan-2026-02-05-shell-polish.md
  packages/clam/src/lib/shell.ts
  packages/clam/src/lib/shell/command-aliases.test.ts
  packages/clam/src/lib/shell/command-aliases.ts
  packages/clam/src/lib/shell/index.ts
  packages/clam/src/lib/shell/modern-tools.test.ts
  packages/clam/src/lib/shell/modern-tools.ts
  packages/clam/src/lib/shell/utils.test.ts
  packages/clam/src/lib/shell/utils.ts
  packages/clam/src/lib/shell/zoxide.test.ts
  packages/clam/src/lib/shell/zoxide.ts
Due: check, format-md, typecheck

tbd sync: 2026-02-06T02-10-24 (2 files)
  .tbd/data-sync/issues/is-01kgrayxjhyxjkw57bdgg5wd3n.md
  .tbd/data-sync/mappings/ids.yml
Due: none

feat(shell): Inject working directory context into Claude prompts
  docs/project/specs/active/plan-2026-02-05-shell-polish.md
  packages/clam/src/bin.ts
  packages/clam/src/lib/prompts.test.ts
  packages/clam/src/lib/prompts.ts
  packages/clam/src/lib/shell.ts
  packages/clam/src/lib/shell/command-aliases.test.ts
  packages/clam/src/lib/shell/command-aliases.ts
  packages/clam/src/lib/shell/index.ts
  packages/clam/src/lib/shell/modern-tools.test.ts
  packages/clam/src/lib/shell/modern-tools.ts
  packages/clam/src/lib/shell/utils.test.ts
  packages/clam/src/lib/shell/utils.ts
  packages/clam/src/lib/shell/zoxide.test.ts
  packages/clam/src/lib/shell/zoxide.ts
Due: check, format-md, typecheck

tbd sync
  .tbd/workspaces/outbox/issues/is-01kgpjqvnyjngmg5zkp5k0j7km.md
  .tbd/workspaces/outbox/issues/is-01kgpjqvy9azry12v5yey0a1da.md
  .tbd/workspaces/outbox/issues/is-01kgpjqw6hgaeawhrd1wmjnkr6.md
  .tbd/workspaces/outbox/issues/is-01kgpjr0hd7d3ec8bxexmakz69.md
  .tbd/workspaces/outbox/issues/is-01kgpk9sj7s9a1ywq670yajdqq.md
  .tbd/workspaces/outbox/issues/is-01kgppyfzfpf23gye587zfm7y0.md
  .tbd/workspaces/outbox/issues/is-01kgppymbaefjwayhke3cfw0an.md
  .tbd/workspaces/outbox/mappings/ids.yml
Due: none

fix(shell): Await modern tool detection to fix startup message ordering
  packages/clam/src/bin.ts
Due: check, typecheck

tbd sync: 2026-02-06T02-41-32 (12 files)
  .tbd/data-sync/issues/is-01kgrd51jx6f82xharhgk4gn1h.md
  .tbd/data-sync/issues/is-01kgrd5d14mkcxph93md8rqkb4.md
  .tbd/data-sync/issues/is-01kgrd5d9hqy14n54pmee1pv5p.md
  .tbd/data-sync/issues/is-01kgrd5dhm7qztnavz0nxf376a.md
  .tbd/data-sync/issues/is-01kgrd5dsv20n9theby2j69v03.md
  .tbd/data-sync/issues/is-01kgrd5q5cr89mqq7neep5313y.md
  .tbd/data-sync/issues/is-01kgrd5qe107580a07ykqd19bs.md
  .tbd/data-sync/issues/is-01kgrd5qnzj0v22vtm2k8qx3wf.md
  .tbd/data-sync/issues/is-01kgrd62v9eg0fyb2c7gke6eja.md
  .tbd/data-sync/issues/is-01kgrd634traws8rj4p0ns4rph.md
  .tbd/data-sync/issues/is-01kgrd63ct6pd8h36gzhzm4ngp.md
  .tbd/data-sync/mappings/ids.yml
Due: none

docs(specs): Extract functional alias system to separate spec
  docs/project/specs/active/plan-2026-02-05-functional-alias-system.md
  docs/project/specs/active/plan-2026-02-05-shell-polish.md
Due: format-md

fix(shell): Show all modern tools with missing indicators
  packages/clam/src/bin.ts
  packages/clam/src/lib/shell/modern-tools.test.ts
  packages/clam/src/lib/shell/modern-tools.ts
Due: check, typecheck

fix(shell): Use spawnSync for interactive commands to prevent SIGTTIN
  docs/project/specs/active/plan-2026-02-05-shell-polish.md
  packages/clam/src/lib/shell.ts
Due: check, format-md, typecheck

fix: Convert spinner test from vitest to bun:test
  packages/clam/src/lib/spinner.test.ts
Due: check, typecheck

tbd sync: 2026-02-06T02-58-57 (9 files)
  .tbd/data-sync/issues/is-01kgp97yh8ba9qbs7bxve5ry0p.md
  .tbd/data-sync/issues/is-01kgp98dxsk5b8fp836qjtga28.md
  .tbd/data-sync/issues/is-01kgp98e7egmy10svc466ka6dt.md
  .tbd/data-sync/issues/is-01kgp98eg6j2nm04q3fjz0dnys.md
  .tbd/data-sync/issues/is-01kgp98esksgehtq52ewj8yp12.md
  .tbd/data-sync/issues/is-01kgp98f1ceqed0w4bejb8w43z.md
  .tbd/data-sync/issues/is-01kgp98f8zzf59bc9pgm8385yq.md
  .tbd/data-sync/issues/is-01kgp98fgwq6g5hdj9he7gaqn5.md
  .tbd/data-sync/issues/is-01kgp98fsjjb1977eqc1gw6fxb.md
Due: none

fix: Add explicit return types for isolatedDeclarations compatibility
  packages/clam/src/lib/formatting.ts
  packages/clam/src/lib/mode-detection.ts
Due: check, typecheck

docs: Add comprehensive shell implementation architecture document
  docs/architecture/shell-implementation.md
Due: format-md

review(spec): Senior engineering review of functional alias system spec
  docs/project/specs/active/plan-2026-02-05-functional-alias-system.md
Due: format-md

fix: Convert shell/tty/prompts tests from vitest to bun:test
  packages/clam/src/lib/prompts.test.ts
  packages/clam/src/lib/shell/command-aliases.test.ts
  packages/clam/src/lib/shell/conveniences.test.ts
  packages/clam/src/lib/shell/modern-tools.test.ts
  packages/clam/src/lib/shell/utils.test.ts
  packages/clam/src/lib/shell/zoxide.test.ts
  packages/clam/src/lib/tty/tty-manager.test.ts
Due: check, typecheck

fix: Add remaining type annotations for isolatedDeclarations
  packages/clam/src/lib/formatting.ts
  packages/clam/src/lib/shell/utils.ts
Due: check, typecheck

fix: Remove quotes from shebang banner in bunup config
  packages/clam/bunup.config.ts
Due: check, typecheck

fix: Skip bundling picocolors on Windows to avoid Bun crash
  packages/clam/bunup.config.ts
Due: check, typecheck

feat(shell): Add functional alias system (Phase 1)
  packages/clam/src/lib/shell/alias-definitions.ts
  packages/clam/src/lib/shell/alias-expander.test.ts
  packages/clam/src/lib/shell/alias-expander.ts
  packages/clam/src/lib/shell/alias-types.ts
Due: check, typecheck

fix: CI test failures on macOS and Windows
  packages/clam/package.json
  packages/clam/src/lib/shell/modern-tools.test.ts
Due: check, typecheck

refactor(shell): Replace dual rewrite pipeline with expandAlias() (Phase 2)
  packages/clam/src/lib/shell.ts
Due: check, typecheck

refactor(shell): Remove old alias/zoxide modules, update exports (Phase 3)
  packages/clam/src/lib/shell/command-aliases.test.ts
  packages/clam/src/lib/shell/command-aliases.ts
  packages/clam/src/lib/shell/index.ts
  packages/clam/src/lib/shell/zoxide.test.ts
  packages/clam/src/lib/shell/zoxide.ts
Due: check, typecheck

feat(cli): Add /aliases slash command to show active aliases
  packages/clam/src/bin.ts
Due: check, typecheck

chore(tbd): Save outbox issues for sync
  .tbd/workspaces/outbox/issues/is-01kgp97yh8ba9qbs7bxve5ry0p.md
  .tbd/workspaces/outbox/issues/is-01kgp98dxsk5b8fp836qjtga28.md
  .tbd/workspaces/outbox/issues/is-01kgp98e7egmy10svc466ka6dt.md
  .tbd/workspaces/outbox/issues/is-01kgp98eg6j2nm04q3fjz0dnys.md
  .tbd/workspaces/outbox/issues/is-01kgp98esksgehtq52ewj8yp12.md
  .tbd/workspaces/outbox/issues/is-01kgp98f1ceqed0w4bejb8w43z.md
  .tbd/workspaces/outbox/issues/is-01kgp98f8zzf59bc9pgm8385yq.md
  .tbd/workspaces/outbox/issues/is-01kgp98fgwq6g5hdj9he7gaqn5.md
  .tbd/workspaces/outbox/issues/is-01kgp98fsjjb1977eqc1gw6fxb.md
  .tbd/workspaces/outbox/issues/is-01kgpjqw6hgaeawhrd1wmjnkr6.md
  .tbd/workspaces/outbox/issues/is-01kgrd51jx6f82xharhgk4gn1h.md
  .tbd/workspaces/outbox/issues/is-01kgrd5d14mkcxph93md8rqkb4.md
  .tbd/workspaces/outbox/issues/is-01kgrd5d9hqy14n54pmee1pv5p.md
  .tbd/workspaces/outbox/issues/is-01kgrd5dhm7qztnavz0nxf376a.md
  .tbd/workspaces/outbox/issues/is-01kgrd5dsv20n9theby2j69v03.md
  .tbd/workspaces/outbox/issues/is-01kgrd5q5cr89mqq7neep5313y.md
  .tbd/workspaces/outbox/issues/is-01kgrd5qe107580a07ykqd19bs.md
  .tbd/workspaces/outbox/issues/is-01kgrd5qnzj0v22vtm2k8qx3wf.md
  .tbd/workspaces/outbox/issues/is-01kgrd62v9eg0fyb2c7gke6eja.md
  .tbd/workspaces/outbox/issues/is-01kgrd63ct6pd8h36gzhzm4ngp.md
  .tbd/workspaces/outbox/mappings/ids.yml
Due: none

docs(specs): Add shell polish part 2 spec with 10 issues
  docs/project/specs/active/plan-2026-02-05-shell-polish-part-2.md
Due: format-md

tbd sync: 2026-02-06T04-48-20 (11 files)
  .tbd/data-sync/issues/is-01kgrmcgdf79ehvggrwb7276qt.md
  .tbd/data-sync/issues/is-01kgrmcq57vrehk1wdcxyhp7r8.md
  .tbd/data-sync/issues/is-01kgrmcqqw52b9ypr71zsv0vp5.md
  .tbd/data-sync/issues/is-01kgrmcrcwe5gm8fhdcedcfhd1.md
  .tbd/data-sync/issues/is-01kgrmcs7n6tjcxejxkz8dzfqz.md
  .tbd/data-sync/issues/is-01kgrmct5bcp8hy9ndpfh60ra5.md
  .tbd/data-sync/issues/is-01kgrmcty4cb4tnskppnzt0jam.md
  .tbd/data-sync/issues/is-01kgrmcvpgkwysd1nmmtcm0b1n.md
  .tbd/data-sync/issues/is-01kgrmcwfq34w0nhgwqxhfwayf.md
  .tbd/data-sync/issues/is-01kgrmcx7pwwkqkkahf774g8h3.md
  .tbd/data-sync/mappings/ids.yml
Due: none

tbd sync: 2026-02-06T04-48-29 (9 files)
  .tbd/data-sync/issues/is-01kgp97yh8ba9qbs7bxve5ry0p.md
  .tbd/data-sync/issues/is-01kgp98dxsk5b8fp836qjtga28.md
  .tbd/data-sync/issues/is-01kgp98e7egmy10svc466ka6dt.md
  .tbd/data-sync/issues/is-01kgp98eg6j2nm04q3fjz0dnys.md
  .tbd/data-sync/issues/is-01kgp98esksgehtq52ewj8yp12.md
  .tbd/data-sync/issues/is-01kgp98f1ceqed0w4bejb8w43z.md
  .tbd/data-sync/issues/is-01kgp98f8zzf59bc9pgm8385yq.md
  .tbd/data-sync/issues/is-01kgp98fgwq6g5hdj9he7gaqn5.md
  .tbd/data-sync/issues/is-01kgp98fsjjb1977eqc1gw6fxb.md
Due: none

chore(tbd): Clean up outbox after sync
  .tbd/workspaces/outbox/issues/is-01kgp97yh8ba9qbs7bxve5ry0p.md
  .tbd/workspaces/outbox/issues/is-01kgp98dxsk5b8fp836qjtga28.md
  .tbd/workspaces/outbox/issues/is-01kgp98e7egmy10svc466ka6dt.md
  .tbd/workspaces/outbox/issues/is-01kgp98eg6j2nm04q3fjz0dnys.md
  .tbd/workspaces/outbox/issues/is-01kgp98esksgehtq52ewj8yp12.md
  .tbd/workspaces/outbox/issues/is-01kgp98f1ceqed0w4bejb8w43z.md
  .tbd/workspaces/outbox/issues/is-01kgp98f8zzf59bc9pgm8385yq.md
  .tbd/workspaces/outbox/issues/is-01kgp98fgwq6g5hdj9he7gaqn5.md
  .tbd/workspaces/outbox/issues/is-01kgp98fsjjb1977eqc1gw6fxb.md
  .tbd/workspaces/outbox/mappings/ids.yml
Due: none

feat(shell): Implement shell polish part 2 - 9 UX improvements
  packages/clam/src/bin.ts
  packages/clam/src/lib/config.test.ts
  packages/clam/src/lib/config.ts
  packages/clam/src/lib/input.ts
  packages/clam/src/lib/mode-detection-cases.ts
  packages/clam/src/lib/mode-detection.test.ts
  packages/clam/src/lib/mode-detection.ts
  packages/clam/src/lib/output.test.ts
  packages/clam/src/lib/output.ts
Due: check, typecheck

chore(tbd): Save outbox after closing 9 shell polish beads
  .tbd/workspaces/outbox/issues/is-01kgrmcgdf79ehvggrwb7276qt.md
  .tbd/workspaces/outbox/issues/is-01kgrmcq57vrehk1wdcxyhp7r8.md
  .tbd/workspaces/outbox/issues/is-01kgrmcqqw52b9ypr71zsv0vp5.md
  .tbd/workspaces/outbox/issues/is-01kgrmcrcwe5gm8fhdcedcfhd1.md
  .tbd/workspaces/outbox/issues/is-01kgrmcs7n6tjcxejxkz8dzfqz.md
  .tbd/workspaces/outbox/issues/is-01kgrmct5bcp8hy9ndpfh60ra5.md
  .tbd/workspaces/outbox/issues/is-01kgrmcty4cb4tnskppnzt0jam.md
  .tbd/workspaces/outbox/issues/is-01kgrmcvpgkwysd1nmmtcm0b1n.md
  .tbd/workspaces/outbox/issues/is-01kgrmcwfq34w0nhgwqxhfwayf.md
  .tbd/workspaces/outbox/issues/is-01kgrmcx7pwwkqkkahf774g8h3.md
  .tbd/workspaces/outbox/mappings/ids.yml
Due: none

docs(spec): Update Phase 4 to use marked-terminal for all block types
  docs/project/specs/active/plan-2026-02-04-streaming-markdown-rendering.md
Due: format-md

tbd sync: 2026-02-06T05-36-45 (9 files)
  .tbd/data-sync/issues/is-01kgrnstvvsk0prbm48ch26kef.md
  .tbd/data-sync/issues/is-01kgrnt2yztnz08nmqrb0g8mjd.md
  .tbd/data-sync/issues/is-01kgrnt77vgekzfrphbv5mnw8m.md
  .tbd/data-sync/issues/is-01kgrnt7cdbrpfsqyttqd7fetc.md
  .tbd/data-sync/issues/is-01kgrnt7hasm3xcgqbnh6ye9sh.md
  .tbd/data-sync/issues/is-01kgrq5ztabezkz0qpsc6mqggk.md
  .tbd/data-sync/issues/is-01kgrq5zyq1kfc92sz0nngq3ar.md
  .tbd/data-sync/issues/is-01kgrq6035zjsgxw9kpgs3x0g5.md
  .tbd/data-sync/mappings/ids.yml
Due: none

fix(test): Increase timeout for flaky Windows CI test
  packages/clam/src/lib/shell/utils.test.ts
Due: check, typecheck

tbd sync: 2026-02-06T05-43-25 (20 files)
  .tbd/data-sync/issues/is-01kgp97yh8ba9qbs7bxve5ry0p.md
  .tbd/data-sync/issues/is-01kgp98dxsk5b8fp836qjtga28.md
  .tbd/data-sync/issues/is-01kgp98e7egmy10svc466ka6dt.md
  .tbd/data-sync/issues/is-01kgp98eg6j2nm04q3fjz0dnys.md
  .tbd/data-sync/issues/is-01kgp98esksgehtq52ewj8yp12.md
  .tbd/data-sync/issues/is-01kgp98f1ceqed0w4bejb8w43z.md
  .tbd/data-sync/issues/is-01kgp98f8zzf59bc9pgm8385yq.md
  .tbd/data-sync/issues/is-01kgp98fgwq6g5hdj9he7gaqn5.md
  .tbd/data-sync/issues/is-01kgp98fsjjb1977eqc1gw6fxb.md
  .tbd/data-sync/issues/is-01kgpjqw6hgaeawhrd1wmjnkr6.md
  .tbd/data-sync/issues/is-01kgrd51jx6f82xharhgk4gn1h.md
  .tbd/data-sync/issues/is-01kgrd5d14mkcxph93md8rqkb4.md
  .tbd/data-sync/issues/is-01kgrd5d9hqy14n54pmee1pv5p.md
  .tbd/data-sync/issues/is-01kgrd5dhm7qztnavz0nxf376a.md
  .tbd/data-sync/issues/is-01kgrd5dsv20n9theby2j69v03.md
  .tbd/data-sync/issues/is-01kgrd5q5cr89mqq7neep5313y.md
  .tbd/data-sync/issues/is-01kgrd5qe107580a07ykqd19bs.md
  .tbd/data-sync/issues/is-01kgrd5qnzj0v22vtm2k8qx3wf.md
  .tbd/data-sync/issues/is-01kgrd62v9eg0fyb2c7gke6eja.md
  .tbd/data-sync/issues/is-01kgrd63ct6pd8h36gzhzm4ngp.md
Due: none

tbd sync
  .tbd/workspaces/outbox/issues/is-01kgp97yh8ba9qbs7bxve5ry0p.md
  .tbd/workspaces/outbox/issues/is-01kgp98dxsk5b8fp836qjtga28.md
  .tbd/workspaces/outbox/issues/is-01kgp98e7egmy10svc466ka6dt.md
  .tbd/workspaces/outbox/issues/is-01kgp98eg6j2nm04q3fjz0dnys.md
  .tbd/workspaces/outbox/issues/is-01kgp98esksgehtq52ewj8yp12.md
  .tbd/workspaces/outbox/issues/is-01kgp98f1ceqed0w4bejb8w43z.md
  .tbd/workspaces/outbox/issues/is-01kgp98f8zzf59bc9pgm8385yq.md
  .tbd/workspaces/outbox/issues/is-01kgp98fgwq6g5hdj9he7gaqn5.md
  .tbd/workspaces/outbox/issues/is-01kgp98fsjjb1977eqc1gw6fxb.md
  .tbd/workspaces/outbox/issues/is-01kgpjqw6hgaeawhrd1wmjnkr6.md
  .tbd/workspaces/outbox/issues/is-01kgrd51jx6f82xharhgk4gn1h.md
  .tbd/workspaces/outbox/issues/is-01kgrd5d14mkcxph93md8rqkb4.md
  .tbd/workspaces/outbox/issues/is-01kgrd5d9hqy14n54pmee1pv5p.md
  .tbd/workspaces/outbox/issues/is-01kgrd5dhm7qztnavz0nxf376a.md
  .tbd/workspaces/outbox/issues/is-01kgrd5dsv20n9theby2j69v03.md
  .tbd/workspaces/outbox/issues/is-01kgrd5q5cr89mqq7neep5313y.md
  .tbd/workspaces/outbox/issues/is-01kgrd5qe107580a07ykqd19bs.md
  .tbd/workspaces/outbox/issues/is-01kgrd5qnzj0v22vtm2k8qx3wf.md
  .tbd/workspaces/outbox/issues/is-01kgrd62v9eg0fyb2c7gke6eja.md
  .tbd/workspaces/outbox/issues/is-01kgrd63ct6pd8h36gzhzm4ngp.md
  .tbd/workspaces/outbox/mappings/ids.yml
Due: none

feat(markdown): Use marked-terminal for all block rendering (Phase 4)
  packages/clam/package.json
  packages/clam/src/lib/markdown/block-renderer.test.ts
  packages/clam/src/lib/markdown/block-renderer.ts
  packages/clam/src/lib/markdown/index.ts
  packages/clam/src/lib/markdown/integration.test.ts
  pnpm-lock.yaml
Due: check, typecheck

refactor(mode-detection): use cached which lookups for consistent sync/async detection
  packages/clam/src/lib/config.test.ts
  packages/clam/src/lib/mode-detection.test.ts
  packages/clam/src/lib/mode-detection.ts
Due: check, typecheck

test(config): remove trivial default value assertions
  packages/clam/src/lib/config.test.ts
Due: check, typecheck

chore(config): reduce truncateAfter default from 5 to 3
  packages/clam/src/lib/config.ts
Due: check, typecheck
